body {
    background-color: antiquewhite;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px auto;
    
}

thead {
    background-color: rgb(255, 88, 27);
}

tbody {
    background-color: rgb(255, 168, 137);
}


th {
    border: 1px solid rgb(255, 88, 27);
    padding: 10px;
    width: 14.28%;
    height: auto;
}

td {
    border: 1px solid rgb(255, 88, 27);
    min-width: 14.28%;
    height: 100px;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

caption {
    font-size: larger;
    font-weight: bold;
}

img {
    max-width: 70px;
        height: auto;
}

footer {
    text-align: center;
}

.birthday-image {
    text-align: center;
}

.non-month-day {
    background-color: rgb(255, 207, 189);
}

#birthday {
    text-align: left;
    vertical-align: top;
    background-color: coral;
    
}
