

body {
    background-color:lavenderblush;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2;
}

h1 {
    color: rgb(98, 0, 98);
}

ul li{
    font-size: larger;
    font-weight: bold;
    color:rgb(119, 0, 119);
   
   

}

ul ol li {
    font-size: larger;
    font-weight: 100;

    list-style-type: lower-roman;
    color:rgb(114, 1, 114);
    
}

ul ol ul li {
    font-size: large;
    font-weight: 100;

    list-style-type: circle;
    color:darkmagenta;

    
    
}