* {
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 700px) {
  .card {
    flex-direction: row;
    text-align: left;
  }
}
