:root {
  --background-color: #f1f2eb;
  --light-color: #bfd2c1;
  --medium-color: #646c1d;
  --dark-color: #3f4531;
  --accent-light-color: #eecfd4;
  --accent-dark-color: #7e4e60;

  --white-color: #fff;
}

/* General Styles for All Pages */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

h1,
h2,
h3,
p,
ul,
li {
  color: var(--dark-color);
}

img {
  border: 2px solid var(--medium-color);
}

header {
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 10px 20px 20px 20px;
}

header h1 {
  color: var(--white-color);
}

header a {
  color: var(--light-color);
  cursor: pointer;
  padding: 0px 5px;
}

header a:hover {
  color: var(--background-color);
}

footer {
  background-color: var(--medium-color);
  text-align: center;
  padding: 20px;
}

footer p {
  color: var(--white-color);
}

/* HOME PAGE STYLES */
.home-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

  margin: 15px 0px;
}

.hero {
  grid-area: 1 / 1 / 1 / -1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.hero-text {
  grid-area: 1 / 1 / 1 / span 1;
  text-align: center;
  align-content: center;
}

.hero-image {
  grid-area: 1 / 2 / 1 / span 1;
}

.hero-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-card,
.info-card {
  background-color: var(--accent-light-color);

  padding: 10px 20px;
  border: 4px solid var(--accent-dark-color);
  border-radius: 10px;
}

.about-card h3,
.about-card p,
.info-card h3,
.info-card p {
  color: var(--accent-dark-color);
}

/* BASIC CONCEPTS STYLES */
.basic-concepts-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

  margin: 15px 0px;
}

.notation {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  background-color: var(--accent-dark-color);
  border-radius: 10px;

  padding: 20px 10px;
}

.notation-heading {
  color: var(--white-color);
}

.staves {
  display: flex;
  flex-direction: row;

  background-color: var(--accent-light-color);
  border-radius: 10px;

  padding: 10px 5px;
}

.staves-text {
  width: 50%;
}

.staves-img {
  width: 50%;
  align-self: center;
  text-align: center;

  padding: 10px;
}

.staves-img img {
  max-height: 80%;
  width: auto;
  max-width: 100%;
}

.rhythm {
  display: flex;
  flex-direction: column;

  background-color: var(--accent-light-color);
  border-radius: 10px;

  padding: 10px 5px;
}

.rhythm-text {
}

.rhythm-img {
  padding: 10px 30px;
}

.rhythm-img img {
  width: 100%;
  height: auto;
}

.pitch {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  background-color: var(--accent-light-color);
  border-radius: 10px;

  padding: 10px 5px;
}

.pitch-text {
  grid-column: span 2;
}

.pitch-img {
  grid-column: span 1;

  padding: 10px;
}

.pitch-img img {
  width: 100%;
  height: auto;
}

.roman-numerals {
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: var(--accent-dark-color);
  border-radius: 10px;

  padding: 20px 10px;
}

.roman-numerals-text h2,
.roman-numerals-text p {
  color: var(--white-color);
}

.major-keys {
  display: flex;
  flex-direction: column;

  background-color: var(--accent-light-color);
  border-radius: 10px;

  padding: 10px 5px;
}

.major-keys-text {
}

.major-keys-img {
  padding: 10px;
}

.major-keys-img img {
  width: 100%;
  height: auto;
}

.minor-keys {
  display: flex;
  flex-direction: column;

  background-color: var(--accent-light-color);
  border-radius: 10px;

  padding: 10px 5px;
}

.minor-keys-text {
}

.minor-keys-img {
  padding: 10px;
}

.minor-keys-img img {
  width: 100%;
  height: auto;
}

.voice-leading {
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: var(--accent-dark-color);
  border-radius: 10px;

  padding: 20px 10px;
}

.voice-leading-text p,
.voice-leading-text h2 {
  color: var(--white-color);
}

.vocal-ranges {
  display: flex;
  flex-direction: row;

  background-color: var(--accent-light-color);
  border-radius: 10px;

  padding: 10px 5px;
}

.vocal-ranges-text {
  width: 50%;
}

.vocal-ranges-img {
  width: 50%;

  padding: 10px;
}

.vocal-ranges-img img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

.spacing-rules {
  display: flex;
  flex-direction: column;

  background-color: var(--accent-light-color);
  border-radius: 10px;

  padding: 10px 5px;
}

.spacing-rules-text {
}

.spacing-rules-img {
  padding: 10px;
}

.spacing-rules-img img {
  width: 100%;
  height: auto;
}

.resolutions {
  display: flex;
  flex-direction: row;

  background-color: var(--accent-light-color);
  border-radius: 10px;

  padding: 10px 5px;
}

.resolutions-text {
  width: 50%;
}

.resolutions-img {
  width: 50%;

  padding: 10px;
}

.resolutions-img img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

.intervals {
  display: flex;
  flex-direction: row;

  background-color: var(--accent-light-color);
  border-radius: 10px;

  padding: 10px 5px;
}

.intervals-text {
  width: 50%;
}

.intervals-img {
  width: 50%;

  padding: 10px;
}

.intervals-img img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

/* RESOURCES STYLES */

.resources-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

  margin-bottom: 15px;
}

.resource {
  background-color: var(--accent-light-color);
  border: 4px solid var(--accent-dark-color);
  border-radius: 10px;

  padding: 10px 5px;
}

.resource a {
  color: var(--dark-color);
  cursor: pointer;
}

/* Horizontal phone break */
@media (min-width: 576px) {
  /* HOME PAGE STYLES */
  .home-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-card {
    grid-column: 1 / -1;
  }

  .info-card {
    grid-column: span 1;
  }

  /* BASIC CONCEPTS STYLES */
  .basic-concepts-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .notation {
    grid-column: span 2;

    grid-template-columns: repeat(2, 1fr);
  }

  .notation-heading {
    grid-column: 1 / -1;
  }

  .staves {
    grid-column: 1 / span 1;
  }

  .rhythm {
    grid-column: 2 / span 1;
  }

  .pitch {
    grid-column: 1 / -1;
  }

  .roman-numerals {
    grid-column: 1 / span 1;
  }

  .voice-leading {
    grid-column: 2 / span 1;
  }

  /* RESOURCES */
}

/* Tablet Break */
@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  /* HOME */
  .home-grid {
    grid-template-columns: 2fr 1fr 1fr;
  }

  .about-card,
  .info-card {
    grid-column: span 1;
  }

  /* BASIC CONCEPTS */

  /* RESOURCES */
  .resources-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .resources-title {
    grid-column: 1 / -1;
  }
}

/* Desktop Break */
@media (min-width: 992px) {
  /* HOME */
  .basic-concepts-grid {
    grid-template-columns: 1fr 1fr;
  }

  /* BASIC CONCEPTS */
  .notation {
    grid-column: span 2;

    grid-template-columns: repeat(3, 1fr);
  }

  .staves {
    grid-column: 1 / span 1;
  }

  .rhythm {
    grid-column: 1 / span 1;
  }

  .pitch {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .major-keys {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }

  .major-keys-text {
    grid-column: 1 / span 1;
  }

  .major-keys-img {
    grid-column: 2 / span 1;
  }

  .minor-keys {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }

  .minor-keys-text {
    grid-column: 1 / span 1;
  }

  .minor-keys-img {
    grid-column: 2 / span 1;
  }

  .voice-leading {
    grid-column: 2 / span 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .voice-leading-text {
    grid-column: 1 / -1;
  }

  .vocal-ranges {
    grid-column: 1 / -1;
  }

  .vocal-ranges-text {
    width: 70%;
  }

  .spacing-rules {
    grid-column: 1 / -1;

    flex-direction: row;
  }

  .spacing-rules-text {
    width: 50%;
  }
  .spacing-rules-img {
    width: 50%;
  }

  /* RESOURCES */
  .resources-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
