:root {
  --background-color: #f1f2eb;
  --light-color: #bfd2c1;
  --medium-color: #646c1d;
  --dark-color: #3f4531;
  --accent-light-color: #eecfd4;
  --accent-dark-color: #7e4e60;

  --white-color: #fff;
}

/* General Styles for All Pages */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

h1,
h2,
h3,
p {
  color: var(--dark-color);
}

header {
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 10px 20px 20px 20px;
}

header h1 {
  color: var(--white-color);
}

header a {
  color: var(--light-color);
  cursor: pointer;
  padding: 0px 5px;
}

header a:hover {
  color: var(--background-color);
}

footer {
  background-color: var(--medium-color);
  text-align: center;
  padding: 20px;
}

footer p {
  color: var(--white-color);
}

/* HOME PAGE STYLES */
.home-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

  margin: 15px 0px;
}

.hero {
  grid-area: 1 / 1 / 1 / -1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.hero-text {
  grid-area: 1 / 1 / 1 / span 1;
  text-align: center;
  align-content: center;
}

.hero-image {
  grid-area: 1 / 2 / 1 / span 1;
}

.hero-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card {
  background-color: var(--accent-light-color);

  padding: 10px 20px;
  border: 4px solid var(--accent-dark-color);
  border-radius: 10px;
}

.card h3,
.card p {
  color: var(--accent-dark-color);
}

/* BASIC CONCEPTS STYLES */
.basic-concepts-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.notation {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.staves {
  display: flex;
  flex-direction: row;
}

.staves-text {
  width: 50%;
}

.staves-img {
  width: 50%;
  align-self: center;
  text-align: center;
}

.staves-img img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

.rhythm {
  display: flex;
  flex-direction: column;
}

.rhythm-text {
}

.rhythm-img {
}

.rhythm-img img {
  width: 100%;
  height: auto;
}

.pitch {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.pitch-text {
  grid-column: span 2;
}

.pitch-img {
  grid-column: span 1;
}

.pitch-img img {
  width: 100%;
  height: auto;
}

.roman-numerals {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.major-keys {
  display: flex;
  flex-direction: column;
}

.major-keys-text {
}

.major-keys-img {
}

.major-keys-img img {
  width: 100%;
  height: auto;
}

.minor-keys {
  display: flex;
  flex-direction: column;
}

.minor-keys-text {
}

.minor-keys-img {
}

.minor-keys-img img {
  width: 100%;
  height: auto;
}

.voice-leading {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.vocal-ranges {
  display: flex;
  flex-direction: row;
}

.vocal-ranges-text {
  width: 50%;
}

.vocal-ranges-img {
  width: 50%;
}

.vocal-ranges-img img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

.spacing-rules {
  display: flex;
  flex-direction: column;
}

.spacing-rules-text {
}

.spacing-rules-img {
}

.spacing-rules-img img {
  width: 100%;
  height: auto;
}

.resolutions {
  display: flex;
  flex-direction: row;
}

.resolutions-text {
  width: 50%;
}

.resolutions-img {
  width: 50%;
}

.resolutions-img img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

.intervals {
  display: flex;
  flex-direction: row;
}

.intervals-text {
  width: 50%;
}

.intervals-img {
  width: 50%;
}

.intervals-img img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
}
