<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Pet Adoption</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><h1>Pet Adoption</h1></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li>
                <a class="nav-link" href="#">Home</a>
              </li>
              <li>
                <a class="nav-link" href="#">Find Pets</a>
              </li>
              <li>
                <a class="nav-link" href="#">Learn More</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="container bg-primary py-2">
      <div class="row g-2">
        <h2 class="text-bg-primary col-12">Available Pets</h2>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card bg-body shadow-sm">
            <img
              class="card-img-top"
              src="../images/pet-01.jpg"
              alt="small white dog with a ball"
            />
            <div class="card-body">
              <h3 class="card-title">
                Barnard
                <span class="badge bg-danger">pro volleyball player</span>
              </h3>
              <p class="card-text">
                Barnard is an English Bulldog with a great personally.
              </p>
              <a class="btn btn-success" href="#">ADOPT NOW</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card bg-body shadow-sm">
            <img
              class="card-img-top"
              src="../images/pet-02.jpg"
              alt="red and black bearded dragon"
            />
            <div class="card-body">
              <h3 class="card-title">
                Roger <span class="badge bg-danger">super chill</span>
              </h3>
              <p class="card-text">
                Roger is a Bearded Dragon and is the perfect companion for
                someone looking for companion in a smaller space.
              </p>
              <a class="btn btn-success" href="#">ADOPT NOW</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card bg-body shadow-sm">
            <img
              class="card-img-top"
              src="../images/pet-03.jpg"
              alt="orange and white cat sleeping"
            />
            <div class="card-body">
              <h3 class="card-title">
                Pumpkin Pie <span class="badge bg-danger">sleepy</span>
              </h3>
              <p class="card-text">Pumpkin Pie loves to sleep!</p>
              <a class="btn btn-success" href="#">ADOPT NOW</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card bg-body shadow-sm">
            <img
              class="card-img-top"
              src="../images/pet-04.jpg"
              alt="white rat in a tunnel"
            />
            <div class="card-body">
              <h3 class="card-title">
                Whiskers <span class="badge bg-danger">no cats please!</span>
              </h3>
              <p class="card-text">
                Whiskers is looking for a home with no cats!
              </p>
              <a class="btn btn-success" href="#">ADOPT NOW</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card bg-body shadow-sm">
            <img
              class="card-img-top"
              src="../images/pet-05.jpg"
              alt="brown and white cat with it's tongue out"
            />
            <div class="card-body">
              <h3 class="card-title">
                Greg <span class="badge bg-danger">cute!</span>
              </h3>
              <p class="card-text">
                Greg has no teeth, so his tongue is always sticking out. Don't
                mention it because he gets self conscious!
              </p>
              <a class="btn btn-success" href="#">ADOPT NOW</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card bg-body shadow-sm">
            <img
              class="card-img-top"
              src="../images/pet-06.jpg"
              alt="yellow lab puppy sitting in a food bowl"
            />
            <div class="card-body">
              <h3 class="card-title">
                Buddy
                <span class="badge bg-danger">comes with the bowl!</span>
              </h3>
              <p class="card-text">
                Buddy has a great system where if he's hungry, he just sits in
                the bowl until someone feeds him again!
              </p>
              <a class="btn btn-success" href="#">ADOPT NOW</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="container-fluid bg-secondary text-center py-3">
      <a class="text-white" href="../../index.html">Back to Student Portal</a>
    </footer>

    <!-- bootstrap js -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
