<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Cool Games</title>
  </head>
  <body>
    <header>
      <h1>Epic and Fun Games</h1>
    </header>

    <aside>
      <h2>Coding Games</h2>
      <p>
        In high school, I took a lot of different coding classes. I started
        coding in Swift freshman year, then learned Java the next year. I made
        quite a few smaller games during the year, but the first bigger project
        I did was recreating Pong using
        <span class="tooltip"
          >OOP
          <span class="tooltiptext">Object Oriented Programming</span>
        </span>
        in Java. It was a lot of fun! Recreating simple games is a great way to
        get better at programming, because you know what the end product should
        do and you have to figure out the steps in order to get there.
      </p>

      <img src="images/pong.png" alt="pong video game" />
    </aside>

    <main>
      <p>
        In middle school, getting Chromebooks for class was a game changer for
        kids who didn't like paying attention at school because suddenly, we had
        access to the entire internet during class! Of course, the school
        moderated what sites we could access, but no matter what websites they
        blocked we always found more games to play!
      </p>

      <p>
        Personally, I was a big rule follower and would get really nervous when
        doing something off-task, but by the time I was in 8th grade, I was
        feeling rebellious and so I played a lot of Minesweeper that year.
      </p>

      <div class="column-card">
        <h2>Snake</h2>
        <img src="images/snake.png" alt="green snake illustration" />
        <p>
          Snake is a game where you play as a snake who starts short and grows
          longer each time you eat food. The goal is to eat as much food as
          possible without running into the walls or your tail!
        </p>
      </div>

      <div class="column-card">
        <h2>Minesweeper</h2>
        <img src="images/minesweeper.png" alt="minesweeper board with flag" />
        <p>
          Minesweeper is a game where you have to find the location of bombs on
          a grid and marking them with flags. If a tile has a number, it means
          that is how many bombs that tile is touching. Use these to find the
          bombs!
        </p>
      </div>
    </main>

    <footer>
      <p>
        Images by users
        <a
          href="https://pixabay.com/users/ariapsa-7646834/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4477329"
          target="_blank"
          >Ariapsa MX</a
        >,
        <a
          href="https://pixabay.com/users/clker-free-vector-images-3736/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=27678"
          target="_blank"
          >Clker-Free-Vector-Images</a
        >, and
        <a
          href="https://pixabay.com/users/perlinator-491438/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2061682"
          target="_blank"
          >Perlinator</a
        >
        from <a href="https://pixabay.com/" target="_blank">Pixabay</a>.
      </p>

      <p><a href="../../index.html">Back to Student Portal</a></p>
    </footer>
  </body>
</html>
